
/* CSS (Ulysse) */
body {
    color: #ffff;
    background-color: pink;
    padding-left: 5%;
}

.Titre {
    font-style: italic;
    text-decoration: underline;
    left: 4%;
}

.sous-titre {
    font-weight: 900;
    padding-bottom: 0;
}

.image {
    border: solid lightblue 1em;
    border-radius: 15%;
}